#navbar-wrapper {
    /* changed from 10 to 15 */
    margin-bottom: 15vh;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: absolute;
    top: 0;
    z-index: 999;
    margin: 0 !important;
    background-image: var(--bkg-gradient);
    border-bottom: black double 3px;
}

#navbar > a {
    z-index: 998;
    margin: 5px 1vw; 
    color: white;
    font-size: 1.5rem;
    font-size: clamp(1.4rem, .5rem + 1.1vw, 1.7rem);
    padding: 5px;
    text-decoration: none;
    border: white solid 1px;
    border-radius: 8px;
}

#navbar a:hover:not(#logo a):not(#hamburger-menu a) {
    border-color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    background-color: rgba(255, 255, 255, .25);
    transition: background-color 150ms;

    /* Code below to change size of button on hover */
    /* padding: 7px; */
    /* font-size: 1.4rem;
    font-size: clamp(1.1rem, .6rem + 1vw, 1.6rem); */
    /* margin: 5px 15px; */
}

#logo {
    z-index: 9999;
    /* changed from 10 to 8 */
    padding-top: 8vh;
}

#logo img {
    /* changed from 16 to 20 */
    height: 20vh;
}

#logo img:hover {
    /* changed from 17 to 22 */
    height: 22vh;
    transition: height 100ms;
}

#navbar {
    /* changed from 10.5 to 15 */
    height: 15vh;
}

#hamburger-menu {
    display: none;
}

#hamburger-btn {
    display: none;
}

#hamburger-menu-contents {
    display: none;
}

@media (max-width: 900px) {

    #navbar > a:not(#logo a){
        display: none;
    }

    #hamburger-btn {
        display: none; 
        /* position: fixed; */
        position: absolute;
        top: 10vh;
        right: 40px;
    }

    #hamburger-menu {
        display: inline-block;
        width: 100%;
        top: 0;
        z-index: 999;
        background-image: var(--bkg-gradient);
    
    }

    #hamburger-menu img {
        width: 55px;
        height: 55px;
        cursor: pointer;
        z-index: 999999;
        /* position: fixed; */
        position: absolute;
        top: 6vh;
        right: 17px;
        }

    #hamburger-menu-contents {
        position: relative;
        /* change border styling, background? */
        background-color: rgba(0, 0, 0, .85);
        border: 2px black solid;
        right: 0;
        top: 13.5vh;
        width: 100%;
        background-image: var(--bkg-gradient);
        display: block;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    #hamburger-menu-contents ul{
        list-style: none;
        padding: 5px 10px;
        transform: translateY(-16vh)
    }
    
    #hamburger-menu-contents ul li {
        padding: 5px;
        margin: 15px;
    }

    #hamburger-menu-contents a {
        color: white;
    }

    #hamburger-btn:checked ~ #hamburger-menu-contents{
        max-height: 50vh;
        opacity: 1; 
        transition: max-height 800ms ease;
        transition-delay: 100ms;
    }

    #hamburger-btn:checked ~ #hamburger-menu-contents ul {
        transition: all 800ms ease;
        transition-delay: 100ms;
        transform: translateY(0vh);
    }

    #hamburger-btn:not(:checked)~#hamburger-menu-contents ul {
        transform: translateY(-16vh);
    }

    #navbar {
        /* changed from 13.5 to 17 */
        height: 17vh;
        align-items: flex-end;
        justify-content:space-between;
    }

    #logo img {
        /* top: -10vh; */
        /* margin-top: 100px; */
        margin-left: 5vw;
        overflow: hidden;
        /* changed from 12.5 to 15.5 */
        height: 15.5vh;
    }

    #logo img:hover {
        /* changed from 12.5 to 16.5 */
        height: 16.5vh;
    }

}
