/* TO DO
GET SUGGESTIONS FOR:
hamburger menu dropdown background color
styling in hamburger menu

navbar animation: is jumpiness jarring (easy to go to different animation

***Add another button to distinguish locate growers/retailers? Replace a differnt button or new design?

*/



#navbar-wrapper {
    margin-bottom: 10vh;
}

#navbar {
    
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 999;
    margin: 0 !important;
    
    /* background-color: var(--green1); */
    background-image: var(--bkg-gradient);
    border-bottom: black double 3px;
    /* can try making navbar thinner, have logo bulge out */
    /* border is just for aligning other elements - temporary */
}

#navbar > a {
    z-index: 998;
    margin: 5px 1vw; 
    color: white;
    font-size: 1.3rem;
    font-size: clamp(1rem, .5rem + 1vw, 1.5rem);
    padding: 5px;
    text-decoration: none;
    border: white solid 1px;
    border-radius: 8px;
}

#navbar a:hover:not(#logo a):not(#hamburger-menu a) {
    border-color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
    padding: 7px;
    font-size: 1.4rem;
    font-size: clamp(1.1rem, .6rem + 1vw, 1.6rem);
    margin: 5px 15px;
}

/* On mobile: logo + hamburger - at 830 px when swithch to 1 col*/

/* To have logo be larger than nav bar: */
#logo {
    z-index: 9999;
    padding-top: 7vh;
}

#logo img {
    height: 15vh;
}

#logo img:hover {
    height: 16vh;
}

#navbar {
    height: 10vh;
}

#hamburger-menu {
    margin-right: 5vw;
    display: none;
}

#hamburger-btn {
    display: none;
}

@media (max-width: 900px) {

    #navbar > a:not(#logo a){
        display: none;
    }

    #hamburger-btn {
        display: none; 
}


    #hamburger-menu img {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    #hamburger-menu {
        display: flex;
            }

    #hamburger-menu-contents {
        /* style this for the dropdown hamburger menu */
        /* make this an animation */
        display: none;
        position: absolute;
        /* change background styling */
        background-color: rgba(0, 0, 0, .85);
        border: 2px black double;
        right: 0;
        top: 13.5vh;
        width: 50%;

    }
    #hamburger-menu-contents ul{
        list-style: none;
        
        padding: 5px 10px;
        }
    
    #hamburger-menu-contents ul li {
        padding: 5px;
        margin: 5px;
    }


        #hamburger-menu-contents a {
            color: white;
        }

    #hamburger-btn:checked ~ #hamburger-menu-contents{
        display: block;
        
    }

    #navbar {
        height: 13.5vh;
        align-items: flex-end;
        justify-content:space-between;
    }

    #logo {

    }

    #logo img {
        /* position: fixed; */
        top: -10vh;
        margin-top: 100px;
        margin-left: 5vw;
        overflow: hidden;
        height: 12.5vh;
    }

        #logo img:hover {
            height: 12.5vh;
        }




}

