h1 {
    font-size: 4.25rem;
    font-size: clamp(2.25rem, 4.4vw, 5rem);
    margin-bottom: 3rem;
}

.banner-wrapper {
    display: block;
    color: white;
}

#hero-container {
    padding-top: 7vh;
    padding-bottom: 3rem; /* for down arrow to fit*/
    /* avoid logo overlap */
    height: 100%;
    background-image: var(--bkg-gradient);
}

#pp {
    font-size: 1.7rem;
    font-size: calc(clamp(2.25rem, 4.4vw, 5rem) / 2.5);
}

#key-features {
    font-size: 2rem;
    font-size: clamp(1.1rem, 2.35vw, 2.5rem);
    line-height: 1.1em;
    padding: 0 20px;
}

#key-features li {
    margin: 1em 0;
    padding-left: 2.5vw;
}

#banner-text {
    margin: .5rem;
    
}

#hero-img-container {
    overflow: hidden;
    object-fit: contain;
}

#hero-img-container img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-position: top;
}

#featured-info {
    margin: 5vw;
    font-size: 1.5rem;
    line-height: 2.5vh;
    font-size: clamp(1rem, .8rem + .7vw, 1.5rem);
}

#featured-info .flex-container {
    height: 35vh;
    padding: 0;
}

#featured-info h2 {
    font-size: 2.8rem;
    /* clamp */
}

#MAKE-ONE, #history-img-container {
    /* readjust with aspect ratio of actual image */
        height: 100%;
        width: 100%;
        

        object-fit: contain;
        overflow: hidden;

}

#featured-info img {
    /* readjust with aspect ratio of actual image */
    /* copied from history as a placeholder */
    height: 100%;
    width: 100%;
    width: 35vw;

    object-fit: contain;
    overflow: hidden;
}

.hero-btn {

    color: #fff;
    font-size: 2rem;
    font-size: clamp(1rem, .8rem + 1vw, 2.5rem);
    background-color: var(--c2);
    border: white solid 2px;
    border-radius: 1.5rem;
    margin: auto;
    text-decoration: none;
    padding: 1.25rem 2.25rem;
}

.hero-btn:hover {
    background-color: #777;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: background-color 150ms, text-decoration 150ms;
}

hr {
    border: none;
    background: var(--logo-g1);
    height: 2px;
}

#scroll-down {
    position: relative;
    display: inline-block;
    height: 1rem;
    bottom: 3rem;
    left: calc(50% - .5rem);
    
}




@media (max-width: 900px) {
    /* navbar changes here */
    #featured-info .flex-container {
        height: 100%;
        flex-wrap: wrap-reverse !important;
    }

    #banner-text {
        width: 40vw;
    }

    #hero-img-container {
        width: 50vw;
    }
    
    #hero-img-container img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
        
    #key-features li {
        margin: 1em 0;
        padding: 0;
    }

}

@media (max-width: 520px) {
    #hero-container {
        flex-wrap: wrap !important;
    }

    #hero-container .flex-item{
        height: 40vh;
    }

    #banner-text {
        margin-top: 0;
        height: 40vh;
        width: 100%;
    }

    h1 {
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    #hero-img-container img {
        height: 50vh;
    }

    #learn-more-btn {
        margin-top: .5rem;
    }

}




