

.banner-wrapper {
    /* margin-bottom: 10vh; */
    display: block;
    color: white;
}

#hero-container {
    height: 100%;
    /* background-color: var(--green1); */
    background-image: var(--bkg-gradient);
}

#key-features {
    font-size: 1.75rem;
    font-size: clamp(1.1rem, 2.35vw, 2rem);
    line-height: 1.1em;
    padding: 0 20px;
}


#key-features li {
    margin: 1em 0;
    padding-left: 2.5vw;
}

h1 {
    font-size: 4.25rem;
    /* figure out scaling */
    font-size: clamp(2.25rem,  4.4vw, 5rem);

    margin-bottom: 3rem;
    /* font-size: 2.5vw; */
}

.banner-text {
    margin: .5rem;
    
}

#hero-img-container {
    overflow: hidden;
}

#hero-img-container img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    /* overflow: hidden; */
    object-position: top;
}

#featured-info {
    margin: 5vw;
    font-size: 1.5rem;
    line-height: 2.5vh;
    font-size: clamp(1rem, .8rem + .7vw, 1.5rem);
}

#featured-info .flex-container {
    height: 35vh;
    padding: 0;
}

#featured-info h2 {
    font-size: 2em;
}

#MAKE-ONE, #history-img-container {
    /* readjust with aspect ratio of actual image */
        height: 100%;
        width: 100%;
        

        object-fit: contain;
        overflow: hidden;

}

#featured-info img {
    /* readjust with aspect ratio of actual image */
    /* copied from history as a placeholder */
    height: 100%;
    width: 100%;
    width: 35vw;

    object-fit: contain;
    overflow: hidden;
}

.learn-more {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    font-size: clamp(1rem, .8rem + 1vw, 2.5rem);
    background-color: var(--c2);
    border: var(--c4) double 4px;
    border-radius: 10px;
    transition: background-color 0.15s;
}

.learn-more:hover {
    background-color: #777;
    /* add hover animation */
}

hr {
    border:none;
    background: var(--logo-g1);
    height: 2px;
}

hr:after {
    /* box-sizing: border-box; */
    /* margin: 100px; */
}



@media (max-width: 900px) {
    #featured-info .flex-container {
        height: 100%;
        flex-wrap: wrap-reverse !important;
        /* border: red solid 10px; */
    }
    #banner-wrapper{
        padding-top: 20vh;
    }

    #hero-banner.flex-item {
        width: 90vw;
        height: 35vh;
    }

    #hero-img-container{
        /* height: 45vh; */
        /* width: 45vw; */
    }
    
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
        
    #key-features li {
            margin: 1em 0;
            padding: 0;
        }

}






