
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    font-size: clamp(2rem, 3vw, 2.8rem);
    margin: 2vh 5vw;
}

h2 {
    font-size: 1.6rem;
    font-size: clamp(1.5rem, 2.2vw, 1.8rem);
}

p {
    font-size: 1.3rem;
        line-height: 2.5vh;
        font-size: clamp(1rem, .8rem + .7vw, 1.5rem);
    padding: 1rem;
}

#faq {
    margin-top: 12vh;
}

div.accordion-wrapper {
    position: relative;
    margin: 2em;
    left: 10vw;
    width: 70%;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: 0;
}

div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: var(--beige-2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

label::before {
    content: "+";
    display: inline-block;
}

input:checked~h2 label::before {
    content: "-";
    display: inline-block;
}


input:checked ~ h2 ~ div.p {
    max-height: 200px;
}

@media (max-width: 900px) {
    /* navbar changes here */
    section#faq {
        margin-top: 15vh;
    }
}


/* very good example https: https: //codepen.io/bilal-pf/pen/eYZrPGW */
/* to make only one open at a time: https: //stackoverflow.com/questions/37745154/only-open-one-accordion-tab-at-one-time */