/* 
TODO
add something in the middle on larger screens? form?

Add social media?

*/


#footer-wrapper {
    background-image: var(--bkg-gradient);
    color: white;
    font-size: clamp(.8rem, .8rem + .4vw, 1.2rem);
}

.flex-container {
    padding: 3vh 2vw;
}

.flex-item {
    align-items: flex-start;
    align-self: flex-start;
}

.flex-item a {
    color: white;
    margin: 0 10vw 2vh 0;
    
}

#col1 a {
    /* so the trophy icon isn't underlined */
    text-decoration: none;
}